.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.description {
  font-family: "Montserrat", sans-serif;
  color: rgb(85, 85, 85);
  text-align: center;
  margin-top: 1rem;
  max-width: 30rem;
  width: 70vw;
}
.form {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  margin: 1rem;
}

.input,
.select {
  font-family: "Montserrat", sans-serif;
  border: 1px solid #ececec;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  font-size: 1.3rem;
}
.input {
  text-transform: uppercase;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input:focus,
.select:focus {
  outline: 1.5px solid rgb(182, 105, 255);
}
.label {
  font-size: 1rem;
  margin-top: 1rem;
}
.btn {
  font-size: 1rem;
  padding: 0.7rem;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 1.4rem;
  background-color: rgb(39, 39, 39);
  color: white;
  margin-top: 1rem;
}

.btn:hover {
  background-color: #000000;
  cursor: pointer;
}
